/*Padrão de escrita de CSS - BEM CSS (Block Element Modifier)*/
/*https://en.bem.info/methodology/css/*/

.col__box--white {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.col__auth-link{
    display: block;
    width: 100%;
    padding: 1em 0;
}

.btn__add{
    position: absolute;
    bottom: 1em;
    right: 1em;
}

.form__movie_serie--show {
    display: initial;
}

.form__movie_serie--hide {
    display: none;
}
.box__detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box__rating{
   color: #eaba04;
    display: block;
    margin-top: 1em;
}

.card__image{
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
}
.box__pagination{
    position: absolute;
    bottom: 1em;
}
.form__rating{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}